body{
	background-image:url("background.png");
	text-align: center;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	font-size:60px;
	align-content:center;
	font-family: "Indie Flower", cursive;
}
#style{
	display: block;
	margin-left: auto;
	margin-right: auto;

}footer{
	font-style: italic;
	font-size: 70%
}